Documents/Enhancements-Nov2017/DueDiligenceWebServices/ForAnalysis/iSprintToDDAS.XML

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import />
      <s:element name="iSprintToDD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="DR" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="iSprintToDDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" ref="iSprintToDDResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified">
      <s:element name="DR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="project">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="projectNumber" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="sponsorProtocolNumber" type="s:string" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="institute">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="address1" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="address2" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="stateProvince" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="zipCode" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="investigators" type="ArrayOfDdRequestInvestigator" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDdRequestInvestigator">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="investigator">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="1" maxOccurs="1" name="role">
                  <s:simpleType>
                    <s:restriction base="s:string">
                      <s:enumeration value="SubI" />
                      <s:enumeration value="PI" />
                    </s:restriction>
                  </s:simpleType>
                </s:element>
                <s:element minOccurs="0" maxOccurs="1" name="nameWithQualification" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="investigatorId" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="memberId" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="middleName" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" name="licenceNumber" type="s:string" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:element name="iSprintToDDResult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="recid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="project">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="projectNumber" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="sponsorProtocolNumber" type="s:string" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="institute">
              <s:complexType>
                <s:sequence>
                  <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
                  <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="investigators" type="ArrayOfDdRequestInvestigator" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="iSprintToDDSoapIn">
    <wsdl:part name="parameters" element="tns:iSprintToDD" />
  </wsdl:message>
  <wsdl:message name="iSprintToDDSoapOut">
    <wsdl:part name="parameters" element="tns:iSprintToDDResponse" />
  </wsdl:message>
  <wsdl:portType name="isprinttoddSoap">
    <wsdl:operation name="iSprintToDD">
      <wsdl:input message="tns:iSprintToDDSoapIn" />
      <wsdl:output message="tns:iSprintToDDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="isprinttoddSoap" type="tns:isprinttoddSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="iSprintToDD">
      <soap:operation soapAction="http://tempuri.org/iSprintToDD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="isprinttoddSoap12" type="tns:isprinttoddSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="iSprintToDD">
      <soap12:operation soapAction="http://tempuri.org/iSprintToDD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="isprinttodd">
    <wsdl:port name="isprinttoddSoap" binding="tns:isprinttoddSoap">
      <soap:address location="http://ddastest.iconplc.com:8080/ws/isprinttodd.asmx" />
    </wsdl:port>
    <wsdl:port name="isprinttoddSoap12" binding="tns:isprinttoddSoap12">
      <soap12:address location="http://ddastest.iconplc.com:8080/ws/isprinttodd.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
